# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

## User settings
*.xcuserstate
project.xcworkspace/
xcuserdata/

## Obj-C/Swift specific
*.hmap

## Code coverage, written into the working directory by an instrumented binary
*.profraw
*.profdata

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace
